@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

<header class="mb-5 border-bottom bg-light-subtle">
    <div class="container">
        <div class="d-flex justify-content-between flex-wrap py-2">
            <div class="flexItem">
                <a href="/" class="link-body-emphasis nav-link fs-2 mb-2 mb-md-0">Gosuji</a>
            </div>

            <div class="flexItem d-flex align-items-center justify-content-start justify-content-md-end flex-wrap">
                <div class="px-2">
                    <a href="/" class="link-body-emphasis nav-link">Home</a>
                </div>
                <div class="px-2">
                    <a href="learn" class="link-body-emphasis nav-link">Learn</a>
                </div>
                <div class="px-2">
                    <a href="subscription" class="link-body-emphasis nav-link">Subscriptions</a>
                </div>
                <div class="px-2">
                    <a href="contact" class="link-body-emphasis nav-link">Contact</a>
                </div>

                <AuthorizeView>
                    <Authorized>
                        <div class="px-2">
                            <a href="user/@claimsPrincipal.Identity?.Name" class="link-body-emphasis nav-link">Profile</a>
                        </div>
                    </Authorized>
                    <NotAuthorized>
                        <div class="px-2">
                            <a href="Account/Register" class="link-body-emphasis nav-link">Register</a>
                        </div>
                        <div class="px-2">
                            <a href="Account/Login" class="link-body-emphasis nav-link">Login</a>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>

                <div class="languageSelect dropdown px-2">
                    <a href="#" class="text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <img id="currentLanguage" src="@currentLanguageSrc" />
                    </a>
                    <ul class="dropdown-menu text-small px-2">
                        <li>
                            <img src="@(BASE_LANGUAGE_SRC)en.svg" @onclick='() => ChangeLanguage("en")' />
                        </li>
                        <li>
                            <img src="@(BASE_LANGUAGE_SRC)zh.svg" @onclick='() => ChangeLanguage("zh")' />
                        </li>
                        <li>
                            <img src="@(BASE_LANGUAGE_SRC)ko.svg" @onclick='() => ChangeLanguage("ko")' />
                        </li>
                        <li>
                            <img src="@(BASE_LANGUAGE_SRC)ja.svg" @onclick='() => ChangeLanguage("ja")' />
                        </li>
                    </ul>
                </div>

                <div class="dropdown px-2">
                    <a href="#" class="link-body-emphasis text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-gear"></i>
                    </a>
                    <ul class="dropdown-menu text-small px-2">
                        <li>
                            <label for="volumeRange" class="form-label">Volume</label>
                            <input type="range" class="form-range" id="volumeRange" max="100" value="@(settingConfig != null ? settingConfig.Volume : 100)" @onchange="ChangeVolume">
                        </li>
                        <li>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="darkThemeSwitch" checked="@(settingConfig != null ? settingConfig.IsDarkMode : isDarkMode)" @onchange="ChangeIsDarkMode">
                                <label class="form-check-label text-body-emphasis" for="darkThemeSwitch">Dark</label>
                            </div>
                        </li>
                        <AuthorizeView>
                            <Authorized>
                                <li>
                                    <a href="Account/Manage" class="link-body-emphasis nav-link">More Settings</a>
                                </li>
                            </Authorized>
                        </AuthorizeView>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
