@page "/learn/trainer/{GameId?}"

@using Gosuji.Client.Components.Shared
@using Gosuji.Client.Data
@using Gosuji.Client.Models
@using Gosuji.Client.Models.Trainer

@inherits CustomPage

<PageTitle>Trainer</PageTitle>

@if (userName != null) {
    <div id="trainerPage">
        <div class="flex-container">
            <div class="flex-item">
                @if (isInitialized)
                {
                    <div id="trainerSettings" class="collapse show">
                        <div id="presetSettings">
                            <EditForm Model="addPresetModel" OnValidSubmit="AddPreset" FormName="add-preset" Context="formContext" method="post">
                                <DataAnnotationsValidator />

                                <div class="row">
                                    <div class="col-7">
                                        <select class="form-select" id="presetSelect" value="@currentPreset.Id" @onchange=SelectPreset>
                                            @foreach (Preset preset in presets.Values)
                                            {
                                                <option class="@(preset.IsGeneral ? "generalPresetOption" : "")" value="@preset.Id"
                                                        selected="@(preset.Id == currentPreset.Id ? "true" : null)">@preset.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <button type="button" class="btn btn-primary" disabled="@(currentPreset.IsGeneral ? "true" : null)" @onclick=SavePreset>Save</button>
                                        <button type="button" class="btn btn-primary" disabled="@(currentPreset.IsGeneral ? "true" : null)" @onclick=DeletePreset>Delete</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-7">
                                        <InputText class="form-control" placeholder="New preset name" @bind-Value=addPresetModel.Name maxlength="22" />
                                        <ValidationMessage For="() => addPresetModel.Name" class="text-danger" />
                                    </div>
                                    <div class="col-5">
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </EditForm>
                        </div>

                        <div class="accordion accordion-flush" id="settingsAccordion">
                            <form novalidate>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="basicsSettingsHeader">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#basicsSettings" aria-expanded="true" aria-controls="basicsSettings">
                                            Basics
                                        </button>
                                    </h3>
                                    <div id="basicsSettings" class="accordion-collapse collapse show" aria-labelledby="basicsSettingsHeader">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="boardsize" class="form-label">Board size</label>
                                                            <select class="form-select" id="boardsize" value="@trainerSettingConfig.Boardsize">
                                                                <option value="19">19</option>
                                                                <option value="13">13</option>
                                                                <option value="9">9</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="handicap" class="form-label">Handicap</label>
                                                            <select class="form-select" id="handicap" value="@trainerSettingConfig.Handicap">
                                                                <option value="0">0</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="preMoves" class="form-label">Pre moves</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="preMovesSwitch" checked="@(trainerSettingConfig.PreMovesSwitch ? "true" : null)">
                                                                </div>
                                                                <input type="number" class="form-control" id="preMoves" min="0" max="50" value="@trainerSettingConfig.PreMoves">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="hideOptions" class="form-label">Hide options</label>
                                                            <select class="form-select" id="hideOptions" value="@((int)trainerSettingConfig.HideOptions)">
                                                                @foreach (EHideOptions hideOption in Enum.GetValues(typeof(EHideOptions)))
                                                                {
                                                                    <option value="@((int)hideOption)">@tl[$"TrainerSettingConfig_EHideOptions_{hideOption}"]</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="colorType" class="form-label">Color</label>
                                                            <select class="form-select" id="colorType" value="@((int)trainerSettingConfig.ColorType)">
                                                                @foreach (EMoveColor moveColor in Enum.GetValues(typeof(EMoveColor)))
                                                                {
                                                                    <option value="@((int)moveColor)">@tl[$"TrainerSettingConfig_EMoveColor_{moveColor}"]</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="suggestionVisits" class="form-label">Suggestion strength</label>
                                                            <input type="number" class="form-control" id="suggestionVisits" min="2" max="25000"
                                                                value="@nullableTrainerSettings.SuggestionVisits">
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="opponentVisits" class="form-label">Opponent strength</label>
                                                            <input type="number" class="form-control" id="opponentVisits" min="2" max="25000"
                                                                value="@nullableTrainerSettings.OpponentVisits">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="wrongMoveCorrection" checked="@(trainerSettingConfig.WrongMoveCorrection ? "true" : null)">
                                                                <label class="form-check-label" for="wrongMoveCorrection">
                                                                    Wrong move correction
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="gameSettingsHeader">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#gameSettings" aria-expanded="true" aria-controls="gameSettings">
                                            Game
                                        </button>
                                    </h3>
                                    <div id="gameSettings" class="accordion-collapse collapse show" aria-labelledby="gameSettingsHeader">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="ruleset" class="form-label">Ruleset</label>
                                                            <select class="form-select" id="ruleset">
                                                                <option value="Japanese" selected=@(nullableTrainerSettings.Ruleset.ToLower().Contains("jap") ? "true" : null)>Japanese</option>
                                                                <option value="Chinese" selected=@(nullableTrainerSettings.Ruleset.ToLower().Contains("chin") ? "true" : null)>Chinese</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="komi" class="form-label">Komi</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text">Custom</span>
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="customKomi" checked="@(trainerSettingConfig.Komi != null ? "true" : null)">
                                                                </div>
                                                                <input type="number" class="form-control" id="komi" step="0.5" min="-150" max="150" value="@nullableTrainerSettings.Komi"
                                                                       disabled="@(trainerSettingConfig.Komi == null ? "true" : null)">
                                                                <div class="form-invalid-message"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="preMovesSettingsHeader">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#preMovesSettings" aria-expanded="true" aria-controls="preMovesSettings">
                                            Pre moves
                                        </button>
                                    </h3>
                                    <div id="preMovesSettings" class="accordion-collapse collapse show" aria-labelledby="preMovesSettingsHeader">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="forceOpponentCorners" class="form-label">Force opponent corners</label>
                                                            <select class="form-select" id="forceOpponentCorners" value="@((int)trainerSettingConfig.ForceOpponentCorners)">
                                                                @foreach (EForceOpponentCorners forceOpponentCorners in Enum.GetValues(typeof(EForceOpponentCorners)))
                                                                {
                                                                    <option value="@((int)forceOpponentCorners)">@tl[$"TrainerSettingConfig_EForceOpponentCorners_{forceOpponentCorners}"]</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="preCorner">
                                                        <div class="col-12">
                                                            <label for="cornerChance44" class="form-label">Opponent corner chances</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text">4-4</span>
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="cornerSwitch44" checked="@(trainerSettingConfig.CornerSwitch44 ? "true" : null)">
                                                                </div>
                                                                <input type="number" class="form-control" id="cornerChance44" min="0" max="100" value="@trainerSettingConfig.CornerChance44">
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-text">3-4</span>
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="cornerSwitch34" checked="@(trainerSettingConfig.CornerSwitch34 ? "true" : null)">
                                                                </div>
                                                                <input type="number" class="form-control" id="cornerChance34" min="0" max="100" value="@trainerSettingConfig.CornerChance34">
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-text">3-3</span>
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="cornerSwitch33" checked="@(trainerSettingConfig.CornerSwitch33 ? "true" : null)">
                                                                </div>
                                                                <input type="number" class="form-control" id="cornerChance33" min="0" max="100" value="@trainerSettingConfig.CornerChance33">
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-text">4-5</span>
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="cornerSwitch45" checked="@(trainerSettingConfig.CornerSwitch45 ? "true" : null)">
                                                                </div>
                                                                <input type="number" class="form-control" id="cornerChance45" min="0" max="100" value="@trainerSettingConfig.CornerChance45">
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-text">3-5</span>
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="cornerSwitch35" checked="@(trainerSettingConfig.CornerSwitch35 ? "true" : null)">
                                                                </div>
                                                                <input type="number" class="form-control" id="cornerChance35" min="0" max="100" value="@trainerSettingConfig.CornerChance35">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="preVisits" class="form-label">Pre move strength</label>
                                                            <input type="number" class="form-control" id="preVisits" min="2" max="25000"
                                                                value="@nullableTrainerSettings.PreVisits">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="preOptions" class="form-label">Options</label>
                                                            <input type="number" class="form-control" id="preOptions" min="1" max="10" value="@trainerSettingConfig.PreOptions">
                                                        </div>
                                                    </div>
                                                    <div class="row" id="preOptionPercDiv">
                                                        <div class="col-12">
                                                            <label for="preOptionPerc" class="form-label">Option chance</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="preOptionPercSwitch" checked="@(trainerSettingConfig.PreOptionPercSwitch ? "true" : null)">
                                                                </div>
                                                                <input type="number" class="form-control" id="preOptionPerc" step="0.1" min="0" max="100" value="@trainerSettingConfig.PreOptionPerc">
                                                                <span class="input-group-text">%</span>
                                                                <div class="form-invalid-message"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="filtersSettingsHeader">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filtersSettings" aria-expanded="true" aria-controls="filtersSettings">
                                            Filters
                                        </button>
                                    </h3>
                                    <div id="filtersSettings" class="accordion-collapse collapse show" aria-labelledby="filtersSettingsHeader">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="suggestionOptions" class="form-label">Suggestion options</label>
                                                            <input type="number" class="form-control" id="suggestionOptions" min="1" max="25" value="@trainerSettingConfig.SuggestionOptions">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="hideWeakerOptions" checked="@(trainerSettingConfig.HideWeakerOptions ? "true" : null)">
                                                                <label class="form-check-label" for="hideWeakerOptions">Hide weaker options</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row" id="minVisitsPercDiv">
                                                        <div class="col-12">
                                                            <label for="minVisitsPerc" class="form-label">Min strength</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="minVisitsPercSwitch" checked="@(trainerSettingConfig.MinVisitsPercSwitch ? "true" : null)">
                                                                </div>
                                                                <input type="number" class="form-control" id="minVisitsPerc" step="0.1" min="0" max="100" value="@trainerSettingConfig.MinVisitsPerc">
                                                                <span class="input-group-text">%</span>
                                                                <div class="form-invalid-message"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="maxVisitDiffPercDiv">
                                                        <div class="col-12">
                                                            <label for="maxVisitDiffPerc" class="form-label">Max strength difference</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="maxVisitDiffPercSwitch" checked="@(trainerSettingConfig.MaxVisitDiffPercSwitch ? "true" : null)">
                                                                </div>
                                                                <input type="number" class="form-control" id="maxVisitDiffPerc" step="0.1" min="0" max="100" value="@trainerSettingConfig.MaxVisitDiffPerc">
                                                                <span class="input-group-text">%</span>
                                                                <div class="form-invalid-message"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="opponentSettingsHeader">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#opponentSettings" aria-expanded="true" aria-controls="opponentSettings">
                                            Opponent
                                        </button>
                                    </h3>
                                    <div id="opponentSettings" class="accordion-collapse collapse show" aria-labelledby="opponentSettingsHeader">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="opponentOptions" class="form-label">Options</label>
                                                            <input type="number" class="form-control" id="opponentOptions" min="1" max="10" value="@trainerSettingConfig.OpponentOptions">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="hideOpponentOptions" class="form-label">Hide options</label>
                                                            <select class="form-select" id="hideOpponentOptions" value="@((int)trainerSettingConfig.HideOpponentOptions)">
                                                                @foreach (EHideOpponentOptions hideOption in Enum.GetValues(typeof(EHideOpponentOptions)))
                                                                {
                                                                    <option value="@((int)hideOption)">@tl[$"TrainerSettingConfig_EHideOptions_{hideOption}"]</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row" id="opponentOptionPercDiv">
                                                        <div class="col-12">
                                                            <label for="opponentOptionPerc" class="form-label">Option chance</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="opponentOptionPercSwitch" checked="@(trainerSettingConfig.OpponentOptionPercSwitch ? "true" : null)">
                                                                </div>
                                                                <input type="number" class="form-control" id="opponentOptionPerc" step="0.1" min="0" max="100" value="@trainerSettingConfig.OpponentOptionPerc">
                                                                <span class="input-group-text">%</span>
                                                                <div class="form-invalid-message"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="selfplaySettingsHeader">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#selfplaySettings" aria-expanded="true" aria-controls="opponentSettings">
                                            Selfplay
                                        </button>
                                    </h3>
                                    <div id="selfplaySettings" class="accordion-collapse collapse show" aria-labelledby="selfplaySettingsHeader">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="selfplayPlaySpeed" class="form-label">Play speed</label>
                                                            <input type="number" class="form-control" id="selfplayPlaySpeed" min="1.5" max="4" step="0.5" value="@trainerSettingConfig.SelfplayPlaySpeed">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="selfplayVisits" class="form-label">Selfplay strength</label>
                                                            <input type="number" class="form-control" id="selfplayVisits" min="2" max="25000"
                                                                value="@nullableTrainerSettings.SelfplayVisits">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>

            <div class="flex-item">
                <div id="trainerGame">
                    <div class="loadAnimation" hidden></div>
                    <div class="board"></div>
                </div>
            </div>

            <div class="flex-item">
                <div id="trainerStats">
                    <div>
                        <button type="button" class="btn btn-primary" id="restartBtn" disabled>Restart</button>
                        <button type="button" class="btn btn-primary" id="selfplayBtn" disabled>Start selfplay</button>
                        <button type="button" class="btn btn-primary" id="saveBtn">Save</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#trainerSettings">Settings</button>
                    </div>
                    <div class="accordion accordion-flush">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="scoreChartAccordionHeader">
                                <button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#scoreChartAccordionBody" aria-expanded="false" aria-controls="scoreChartAccordionBody">
                                    Score chart
                                </button>
                            </h3>
                            <div id="scoreChartAccordionBody" class="accordion-collapse collapse" aria-labelledby="scoreChartAccordionHeader">
                                <div class="accordion-body">
                                    <div>
                                        <select class="form-select" id="scoreChartColor">
                                            <option value="-1">Black</option>
                                            <option value="1">White</option>
                                        </select>
                                    </div>
                                    <canvas id="scoreChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="keyValues">
                        <h3>Performance</h3>
                        <canvas id="ratioChart"></canvas>

                        <div>
                            Ruleset: <span id="rulesetDisplay"></span>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <h3>Right</h3>
                                Streak: <span id="rightStreak">0</span><br>
                                Top streak: <span id="rightTopStreak">0</span>
                            </div>
                            <div class="col-6">
                                <h3>Perfect (A)</h3>
                                Streak: <span id="perfectStreak">0</span><br>
                                Top streak: <span id="perfectTopStreak">0</span>
                            </div>
                        </div>

                        @if (suggestions != null)
                        {
                            <h3>Options</h3>
                            <div id="suggestionCards">
                                @foreach(MoveSuggestion suggestion in suggestions)
                                {
                                    <div class="suggestionCard">
                                        <div class="cardTitle">@suggestion.Grade</div>
                                        <div class="infoDiv">
                                            <div>
                                                <span class="infoTitle">Visits: </span>@suggestion.Visits
                                            </div>
                                            <div>
                                                <span class="infoTitle">Score: </span>@suggestion.Score.FormatScoreLead()
                                            </div>
                                            <div>
                                                <span class="infoTitle">Winrate: </span>@(suggestion.Score.FormatWinrate())%
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }

                        <div id="resultDiv" hidden>
                            <h3>Result</h3>
                            <span id="result"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}