@page "/trainer/{GameId:long?}"

@using Gosuji.Client.Components.Shared
@using Gosuji.Client.Data

@inherits CustomPage

<PageTitle>Trainer</PageTitle>

@if (userName != null) {
    <div id="trainerPage">
        <div id="trainerDebug" hidden>
            <ul>
                <li>
                </li>
            </ul>
        </div>

        <div class="flex-container">
            <div class="flex-item">
                @if (trainerSettingConfig != null)
                {
                    <div id="trainerSettings" class="collapse show">
                        <div id="presetSettings">
                            <EditForm Model="addPresetModel" OnValidSubmit="AddPreset" FormName="add-preset" Context="formContext" method="post">
                                <DataAnnotationsValidator />

                                <div class="row">
                                    <div class="col-7">
                                        <select class="form-select" id="presetSelect" value="@currentPreset.Id" @onchange=SelectPreset>
                                            @foreach (Preset preset in presets.Values)
                                            {
                                                <option class="@(preset.IsGeneral ? "generalPresetOption" : "")" value="@preset.Id"
                                                        selected="@(preset.Id == currentPreset.Id ? "true" : null)">@preset.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <button type="button" class="btn btn-primary" disabled="@(currentPreset.IsGeneral ? "true" : null)" @onclick=SavePreset>Save</button>
                                        <button type="button" class="btn btn-primary" disabled="@(currentPreset.IsGeneral ? "true" : null)" @onclick=DeletePreset>Delete</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-7">
                                        <InputText class="form-control" placeholder="New preset name" @bind-Value=addPresetModel.Name maxlength="22" />
                                        <ValidationMessage For="() => addPresetModel.Name" class="text-danger" />
                                    </div>
                                    <div class="col-5">
                                        <button type="submit" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </EditForm>
                        </div>

                        <div class="accordion accordion-flush" id="settingsAccordion">
                            <form novalidate>
                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="basicsSettingsHeader">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#basicsSettings" aria-expanded="true" aria-controls="basicsSettings">
                                            Basics
                                        </button>
                                    </h3>
                                    <div id="basicsSettings" class="accordion-collapse collapse show" aria-labelledby="basicsSettingsHeader">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="boardsize" class="form-label">Board size</label>
                                                            <select class="form-select" id="boardsize" @bind=trainerSettingConfig.Boardsize>
                                                                <option value="19">19</option>
                                                                <option value="13">13</option>
                                                                <option value="9">9</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="handicap" class="form-label">Handicap</label>
                                                            <select class="form-select" id="handicap" @bind=trainerSettingConfig.Handicap>
                                                                <option value="0">0</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="colorType" class="form-label">Color</label>
                                                            <select class="form-select" id="colorType" @bind=trainerSettingConfig.ColorType>
                                                                <option value="-1">Black</option>
                                                                <option value="1">White</option>
                                                                <option value="0">Random</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="preMoves" class="form-label">Pre moves</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="preMovesSwitch" @bind=trainerSettingConfig.PreMovesSwitch>
                                                                </div>
                                                                <input type="number" class="form-control" id="preMoves" min="0" max="500" @bind=trainerSettingConfig.PreMoves>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12" id="visitsDiv">
                                                            <label for="suggestionVisits" class="form-label">AI strength</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text">Suggestion</span>
                                                                <input type="number" class="form-control" id="suggestionVisits" min="2" max="25000" @bind=kataGoVisits.SuggestionVisits>
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-text">Opponent</span>
                                                                <input type="number" class="form-control" id="opponentVisits" min="2" max="25000" @bind=kataGoVisits.OpponentVisits>
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-text">Pre move</span>
                                                                <input type="number" class="form-control" id="preVisits" min="2" max="25000" @bind=kataGoVisits.PreVisits>
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-text">Selfplay</span>
                                                                <input type="number" class="form-control" id="selfplayVisits" min="2" max="25000" @bind=kataGoVisits.SelfplayVisits>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="disableAICorrection" @bind=trainerSettingConfig.DisableAICorrection>
                                                                <label class="form-check-label" for="disableAICorrection">
                                                                    Disable AI correction
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="gameSettingsHeader">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#gameSettings" aria-expanded="true" aria-controls="gameSettings">
                                            Game
                                        </button>
                                    </h3>
                                    <div id="gameSettings" class="accordion-collapse collapse show" aria-labelledby="gameSettingsHeader">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="ruleset" class="form-label">Ruleset</label>
                                                            <select class="form-select" id="ruleset" @bind=trainerSettingConfig.Ruleset>
                                                                <option value="Japanese">Japanese</option>
                                                                <option value="Chinese">Chinese</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="komi" class="form-label">Komi</label>
                                                            <select class="form-select" id="komiChangeStyle" @bind=trainerSettingConfig.KomiChangeStyle>
                                                                <option value="Automatic">Automatic</option>
                                                                <option value="Custom">Custom</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <input type="number" class="form-control" id="komi" step="0.5" min="-150" max="150"
                                                                @bind=trainerSettingConfig.Komi disabled="@(trainerSettingConfig.KomiChangeStyle == "Automatic" ? true : false)">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="preMovesSettingsHeader">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#preMovesSettings" aria-expanded="true" aria-controls="preMovesSettings">
                                            Pre moves
                                        </button>
                                    </h3>
                                    <div id="preMovesSettings" class="accordion-collapse collapse show" aria-labelledby="preMovesSettingsHeader">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="preOptions" class="form-label">Options</label>
                                                            <input type="number" class="form-control" id="preOptions" min="1" max="10" @bind=trainerSettingConfig.PreOptions>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="preOptionPercDiv">
                                                        <div class="col-12">
                                                            <label for="preOptionPerc" class="form-label">Option chance</label>
                                                            <div class="input-group">
                                                                <input type="number" class="form-control" id="preOptionPerc" step="0.1" min="0" max="100" @bind=trainerSettingConfig.PreOptionPerc>
                                                                <span class="input-group-text">%</span>
                                                                <div class="form-invalid-message"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="forceOpponentCorners" class="form-label">Force opponent corners</label>
                                                            <select class="form-select" id="forceOpponentCorners" @bind=trainerSettingConfig.ForceOpponentCorners>
                                                                <option value="None">None</option>
                                                                <option value="First">First</option>
                                                                <option value="Second">Second</option>
                                                                <option value="Both">Both</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row" id="preCorner">
                                                        <div class="col-12">
                                                            <label for="cornerChance44" class="form-label">Opponent corner chances</label>
                                                            <div class="input-group">
                                                                <span class="input-group-text">4-4</span>
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="cornerSwitch44" @bind=trainerSettingConfig.CornerSwitch44>
                                                                </div>
                                                                <input type="number" class="form-control" id="cornerChance44" min="0" max="100" @bind=trainerSettingConfig.CornerChance44>
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-text">3-4</span>
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="cornerSwitch34" @bind=trainerSettingConfig.CornerSwitch34>
                                                                </div>
                                                                <input type="number" class="form-control" id="cornerChance34" min="0" max="100" @bind=trainerSettingConfig.CornerChance34>
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-text">3-3</span>
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="cornerSwitch33" @bind=trainerSettingConfig.CornerSwitch33>
                                                                </div>
                                                                <input type="number" class="form-control" id="cornerChance33" min="0" max="100" @bind=trainerSettingConfig.CornerChance33>
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-text">4-5</span>
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="cornerSwitch45" @bind=trainerSettingConfig.CornerSwitch45>
                                                                </div>
                                                                <input type="number" class="form-control" id="cornerChance45" min="0" max="100" @bind=trainerSettingConfig.CornerChance45>
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-text">3-5</span>
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="cornerSwitch35" @bind=trainerSettingConfig.CornerSwitch35>
                                                                </div>
                                                                <input type="number" class="form-control" id="cornerChance35" min="0" max="100" @bind=trainerSettingConfig.CornerChance35>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="filtersSettingsHeader">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#filtersSettings" aria-expanded="true" aria-controls="filtersSettings">
                                            Filters
                                        </button>
                                    </h3>
                                    <div id="filtersSettings" class="accordion-collapse collapse show" aria-labelledby="filtersSettingsHeader">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="suggestionOptions" class="form-label">Suggestion options</label>
                                                            <input type="number" class="form-control" id="suggestionOptions" min="1" max="25" @bind=trainerSettingConfig.SuggestionOptions>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="hideOptions" class="form-label">Hide options</label>
                                                            <select class="form-select" id="hideOptions" @bind=trainerSettingConfig.HideOptions>
                                                                @foreach (EHideOptions hideOption in Enum.GetValues(typeof(EHideOptions)))
                                                                {
                                                                    <option value="@hideOption">@tl[$"TrainerSettingConfig_EHideOptions_{hideOption}"]</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="hideWeakerOptions" @bind=trainerSettingConfig.HideWeakerOptions>
                                                                <label class="form-check-label" for="hideWeakerOptions">Hide weaker options</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row" id="minVisitsPercDiv">
                                                        <div class="col-12">
                                                            <label for="minVisitsPerc" class="form-label">Min strength</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="minVisitsPercSwitch" @bind=trainerSettingConfig.MinVisitsPercSwitch>
                                                                </div>
                                                                <input type="number" class="form-control" id="minVisitsPerc" step="0.1" min="0" max="100" @bind=trainerSettingConfig.MinVisitsPerc>
                                                                <span class="input-group-text">%</span>
                                                                <div class="form-invalid-message"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" id="maxVisitDiffPercDiv">
                                                        <div class="col-12">
                                                            <label for="maxVisitDiffPerc" class="form-label">Max strength difference</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="maxVisitDiffPercSwitch" @bind=trainerSettingConfig.MaxVisitDiffPercSwitch>
                                                                </div>
                                                                <input type="number" class="form-control" id="maxVisitDiffPerc" step="0.1" min="0" max="100" @bind=trainerSettingConfig.MaxVisitDiffPerc>
                                                                <span class="input-group-text">%</span>
                                                                <div class="form-invalid-message"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="opponentSettingsHeader">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#opponentSettings" aria-expanded="true" aria-controls="opponentSettings">
                                            Opponent
                                        </button>
                                    </h3>
                                    <div id="opponentSettings" class="accordion-collapse collapse show" aria-labelledby="opponentSettingsHeader">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <label for="opponentOptions" class="form-label">Options</label>
                                                            <div class="input-group">
                                                                <div class="input-group-text">
                                                                    <input class="form-check-input mt-0" type="checkbox" id="opponentOptionsSwitch" @bind=trainerSettingConfig.OpponentOptionsSwitch>
                                                                </div>
                                                                <input type="number" class="form-control" id="opponentOptions" min="1" max="10" @bind=trainerSettingConfig.OpponentOptions>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row" id="opponentOptionPercDiv">
                                                        <div class="col-12">
                                                            <label for="opponentOptionPerc" class="form-label">Option chance</label>
                                                            <div class="input-group">
                                                                <input type="number" class="form-control" id="opponentOptionPerc" step="0.1" min="0" max="100" @bind=trainerSettingConfig.OpponentOptionPerc>
                                                                <span class="input-group-text">%</span>
                                                                <div class="form-invalid-message"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" id="showOpponentOptions" @bind=trainerSettingConfig.ShowOpponentOptions>
                                                                <label class="form-check-label" for="showOpponentOptions">
                                                                    Show options
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h3 class="accordion-header" id="selfplaySettingsHeader">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#selfplaySettings" aria-expanded="true" aria-controls="opponentSettings">
                                            Selfplay
                                        </button>
                                    </h3>
                                    <div id="selfplaySettings" class="accordion-collapse collapse show" aria-labelledby="selfplaySettingsHeader">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="selfplayPlaySpeed" class="form-label">Play speed</label>
                                                            <input type="number" class="form-control" id="selfplayPlaySpeed" min="1.5" max="4" step="0.5" @bind=trainerSettingConfig.SelfplayPlaySpeed>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-6">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                }
            </div>

            <div class="flex-item">
                <div id="trainerGame">
                    <div class="loadAnimation" hidden></div>
                    <div class="board"></div>
                </div>
            </div>

            <div class="flex-item">
                <div id="trainerStats">
                    <div>
                        <button type="button" class="btn btn-primary" id="restartBtn" disabled>Restart</button>
                        <button type="button" class="btn btn-primary" id="stopPreMovesBtn" disabled>Stop pre moves</button>
                        <button type="button" class="btn btn-primary" id="selfplayBtn" hidden>Start selfplay</button>
                        <button type="button" class="btn btn-primary" id="saveBtn" disabled>Save</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#settings">Settings</button>
                        <button type="button" class="btn btn-primary" id="testBtn" hidden>Test</button>
                    </div>
                    <div class="accordion accordion-flush">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="scoreChartAccordionHeader">
                                <button class="accordion-button collapsed collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#scoreChartAccordionBody" aria-expanded="false" aria-controls="scoreChartAccordionBody">
                                    Score chart
                                </button>
                            </h3>
                            <div id="scoreChartAccordionBody" class="accordion-collapse collapse" aria-labelledby="scoreChartAccordionHeader">
                                <div class="accordion-body">
                                    <div>
                                        <select class="form-select" id="scoreChartColor">
                                            <option value="-1">Black</option>
                                            <option value="1">White</option>
                                        </select>
                                    </div>
                                    <canvas id="scoreChart"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="keyValues">
                        <div>
                            Handicap: <span id="currentHandicap"></span><br>
                            Ruleset: <span id="currentRuleset"></span><br>
                            Komi: <span id="currentKomi"></span>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h3>Right</h3>
                                Ratio: <span id="rightPercent">-</span>%<br>
                                Streak: <span id="rightStreak">0</span><br>
                                Top streak: <span id="rightTopStreak">0</span>
                            </div>
                            <div class="col-6">
                                <h3>Perfect (A)</h3>
                                Ratio: <span id="perfectPercent">-</span>%<br>
                                Streak: <span id="perfectStreak">0</span><br>
                                Top streak: <span id="perfectTopStreak">0</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h3>Visits</h3>
                                <div id="visits"></div>
                            </div>
                            <div class="col-6">
                                <div id="resultDiv" hidden>
                                    <h3>Result</h3>
                                    <span id="result"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}